**/out/gcc_5_5_arm-linux-gnueabihf/
**/bin/gcc_5_5_arm-linux-gnueabihf/
**/out/gcc_9_2_arm-linux-gnueabihf/
**/bin/gcc_9_2_arm-linux-gnueabihf/
platform-wago-pfcXXX/
*.log
.gitmodules
src
trunk/
.svn
jenkins

ipc-dist/platform-IO-IPC-Codesys/
ipc-dist/platform-IO-IPC-P-Codesys/
local_src/lib*/out
local_src/*/*.o
local_src/*/*.dtd
local_src/mdmd/mdm_cuse
local_src/mdmd/mdmd
local_src/mdmd/out/*
ptxproj.2013.03.0/configs/*/*.old
ptxproj.2013.03.0/platform*/
!ptxproj.2013.03.0/platforms/
ptxproj.2013.03.0/selected_platformconfig
ptxproj.2013.03.0/selected_ptxconfig
ptxproj.2013.03.0/selected_toolchain
shared_public/*/out/
src/*.gz
src/*.tgz
src/*.xz
src/*.bz2
src/*.zip
src/*.md5
src/certdata-*.txt
src/production-wago-pfcXXX-*.tar
wago_intern/*/out
wago_intern/artifactory_sources
wago_intern/work/.pc/
wago_intern/tags
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/.depend
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/*.o
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/plclinux_rt
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago/*.o
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/Makefile
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/Makefile.in
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/aclocal.m4
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/autom4te.cache/
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/config.guess
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/config.log
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/config.status
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/config.sub
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/configure
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/depcomp
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/include/
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/install-sh
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/lib/
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/libtool
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/ltmain.sh
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/missing
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/.deps/
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/.libs/
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/COM_Configure.lo
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/*.o
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/*.lo
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/Makefile
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/Makefile.in
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/config.h
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/config.h.in
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/*.la
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/src/stamp-h1
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_libs/*.o
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_modbus/*.o
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/TargetVisu/*.o
wago_intern/work/codesys/codesys-2.4.7.0/*.o
wago_intern/codesys3-Component/*/out/*
wago_intern/codesys3-Component/IoDrvModbusM/IoDrvModbusMDep.h
wago_intern/codesys3-Component/IoDrvModbusM/IoDrvModbusMItf.h
wago_intern/codesys3-Component/IoDrvModbusS/IoDrvModbusSDep.h
wago_intern/codesys3-Component/IoDrvModbusS/IoDrvModbusSItf.h
wago_intern/codesys3-Component/TscModbus/WagoModbusDep.h
wago_intern/codesys3-Component/TscModbus/WagoModbusItf.h
wago_intern/codesys3-Component/TscModbus/WagoTypesModbusItf.h
wago_intern/codesys3-Component/IoDrvRlb/bin/
wago_intern/device/bacnet/libbacnetconfig/out/*
wago_intern/device/bacnet/libbacnet/out/*
wago_intern/device/bacnet/libbacnetstack/out/*
wago_intern/device/kbus/libpackbus/src/Conf/kbusconf.c
wago_intern/device/profinet/out/*
wago_intern/device/profinet/pfcspecific/src/xml/diagnostics.dtd
wago_intern/work/patches/
.pc
wago_intern/work/tags
wago_intern/work/codesys/codesys-2.4.7.0/Linux/Standard/wago_ec1/*/*.o
wago_intern/integration/junit/bin/
wago_intern/integration/junit/build/
wago_intern/integration/junit/build_artifacts/
wago_intern/integration/junit/integration.properties
wago_intern/rlbpde-demo/bin/
**/.vscode
**/.gradle
wago_intern/tools/create-license-infos/ipkg-list.out
wago_intern/tools/create-license-infos/ipkg-list.out.stripped
wago_intern/opcua/server/out/
**/out/gcc_*_arm-linux-gnueabihf/
**/bin/gcc_*_arm-linux-gnueabihf/
**/bin/Release/
**/bin/Debug
**/.idea
wago_intern/wretain*
wago_intern/wstd-*
**/compile_commands.json
**/launches/
**/*.iml
**/*.eml
wago_intern/debugging/tmp/
wago_intern/debugging/scripts/sync.settings.tmp
ptxproj.2013.03.0/repo_src
**/*.log
**/log_*.txt
wago_intern/device/kbus/libpackbus/src/Conf/kbusconf.xml
**/launches/
**/bin/
**/out/
